section.article
	.container
		article.article-wrapper.article--odd
			.article__desc
				.title.article__title(data-number="02") Point Break
				.club-desc__text.article__preview By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
				a(href="#").read-more-link Read More
			.article__img
				//- img(src="../../img/img/img-5.jpg", alt="")
				img(src="img/img/img-5.jpg", alt="")
				.article__img-desc
					.article__img__content Surf&nbsp;Camps