section.camp
	.camp__img(style="background-image: url('img/img/img-6.jpg');")
	.container.flex-end
		.camp__desc
			.camp__label Our Camp
			.camp__address CA 91932, USA Imperial Beach 560 Silver Strand Blvd
			a(href="#").read-more-link.read-more-link--camp Get in Touch
