section.footer
	.container.footer-wrapper
		a(href="#").logo
			img(src="../../img/logo/logo.svg", alt="logo")
		ul.footer-navigation
			li.navigation__item
				a(href="#").navigation__link Stories
			li.navigation__item
				a(href="#").navigation__link Events
			li.navigation__item
				a(href="#").navigation__link Places
			li.navigation__item
				a(href="#").navigation__link Boards
		.footer-social
			a(href="#").footer-social__item
				img(src="../../img/socials/social-tumblr.svg", alt="")
			a(href="#").footer-social__item
				img(src="../../img/socials/social-twitter.svg", alt="")
			a(href="#").footer-social__item
				img(src="../../img/socials/social-vimeo.svg", alt="")