.slide-wrapper.container
	#headerSlider.owl-carousel
		include _slide-item
		include _slide-item
		include _slide-item
		include _slide-item
		include _slide-item

	.slide-controls
		#headerSliderLeft.slide-controls__left
			img(src="img/controls/header-slider-left.svg", alt="arrow-left")
		.slide-controls-number 
			span.slide-controls-number__active 1
			span.slide-controls-number__from /
			span.slide-controls-number__total 5
		#headerSliderRight.slide-controls__right
			img(src="img/controls/header-slider-right.svg", alt="arrow-right")
