.board
	.board__img-holder
		img(src="../../img/boards/board-1.png", alt="surfing board").board__img
	.board-desc 
		.board__cat Funboards
		.board__title Chilli Rare Bird
		.board-buy
			.board-buy__price $890
			a(href="#").board-buy__link Buy