.board
	.board__img-holder
		img(src="img/boards/board-2.png", alt="surfing board").board__img
	.board-desc 
		.board__cat Surfboards
		.board__title Emery NEM XF
		.board-buy
			.board-buy__price $950
			.board-buy__link Buy