.board
	.board__img-holder
		img(src="../../img/boards/board-3.png", alt="surfing board").board__img
	.board-desc 
		.board__cat Funboards
		.board__title Agency GROM
		.board-buy
			.board-buy__price $670
			.board-buy__link Buy