.slide-item
	.slide-item__desc 
		.slide-item__desc__heading 
			span Your
			p Beautiful Escape
		.slide-item__desc__text
			p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.
	.slide-item__img.slide-item__img--bg-1