section.subscribe
	.container
		.subscribe-wrapper
			.title.subscribe-title Join the Club
			.club-desc__text By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
			form(action="").subscribe-form
				input(type="text" placeholder="Your E-mail").subscribe__input
				input(type="submit").subscribe__submit
